:root {
	
}

#rightContainer {
	 flex: 1 1 calc(var(--cells-size) * var(--cells-equip-row)); 
	/* height: calc(100% - (var(--cells-size))); */
	display: block;
	padding: calc(var(--cells-size) / 2);
	background-color: yellow;
	inline-size: 100%;
	align-self: stretch;
}

#rightGrid {	
	/* float: right; */
	background-color: purple;
	display: grid;	
	/* width: min-content; */
	/* height: min-content; */
	grid: repeat(3, calc(100%/3)) / repeat(3, clc(100%/3)); 
	/* grid: repeat(3, 200px) / repeat(3, 200px); */
	/* grid:  var(--right-cells-size) var(--right-cells-size) var(--right-cells-size) / var(--right-cells-size) var(--right-cells-size) var(--right-cells-size); */
	grid-template-areas: 
	"a1 a1 a2"
	"a1 a1 a3"
	"a6 a5 a4";	
}
/* big text descritption */
#description {	
	text-shadow: 2px 2px #000f;
	font-size: 25px;
	overflow-y: scroll;	
	background-color: #507E1680;
	border: 2px solid red;
}

#description > div {
	padding: 0 8px;
}
#description > div:hover {	
	color: #00ff0a;	
}
/* small boxes */
.rightBox {
	line-height: var(--right-cells-size);
	text-align:center;
	block-size: 100%;
	background-size: 100% 100%;
	width: 100%;
height: 100%;
}

.rightBox > img{
width: 100%;
height: 100%;	
}

.rightBox > span {	
display: inline-block;
vertical-align: middle;
line-height: normal;	
}

