:root {
	--cells-size: 64px;
	--cells-levels-row: 5;
	--cells-weapons-row: 6;
	--cells-equip-row: 8;
}

* {
	
	padding:0;
	margin:0;
	font-family: "CrusFont";
	color: #FF0000;
	scrollbar-color: red #30361C;
}
/* scrollbars sucks */
*::-webkit-scrollbar {
	width: 12px; 	
	height: 14px;
}

*::-webkit-scrollbar-track {
	background: #30361C;
}

*::-webkit-scrollbar-thumb {
	background: red;
	
}

*::-webkit-scrollbar-thumb:hover {
	background: darkred; 
}

@font-face {
	font-family: "CrusFont";
	src: url("content/fonts/gamefont.ttf");
}

@font-face {
	font-family: "CeoFont";
	src: url("content/fonts/MingLiU-ExtB-01.ttf");
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: start;
	
}
