:root {
	--cells-size: 64px;
	--cells-levels-row: 5;
	--cells-weapons-row: 6;
	--cells-equip-row: 8;
}

* {
	
	padding:0;
	margin:0;
	font-family: "CrusFont";
	color: #FF0000;
	scrollbar-color: red #30361C;
}
/* scrollbars sucks */
*::-webkit-scrollbar {
	width: 12px; 	
	height: 14px;
}

*::-webkit-scrollbar-track {
	background: #30361C;
}

*::-webkit-scrollbar-thumb {
	background: red;
	
}

*::-webkit-scrollbar-thumb:hover {
	background: darkred; 
}

@font-face {
	font-family: "CrusFont";
	src: url("content/fonts/gamefont.ttf");
}

@font-face {
	font-family: "CeoFont";
	src: url("content/fonts/MingLiU-ExtB-01.ttf");
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	align-content: baseline;
	
}

/* left area of page */

#leftContainer 
{	
	/* flex: 1 0 calc(var(--cells-size) * var(--cells-equip-row)); */
	/* min-width: calc(var(--cells-size) * var(--cells-equip-row)); */
	height: min-content;
	background-color:cyan;
	display: flex;
	flex-direction: column;
	padding: calc(var(--cells-size) / 2);
	align-self: start;
	justify-self: start;
}

/* area with top left buttons */
#leftTop {
	display: block;
	min-height: min-content;
	min-width: min-content;	
	background-color:red;	
}

/* area with grid of entries */
#leftBottom {
	display: block;
	height: min-content;
	min-width: min-content;	
	background-color:green;	
}
#leftTopButtons {
	height: var(--cells-size);
	width: calc(var(--cells-size) * 4);
	display: flex;
	flex-direction: row;
}

.leftTopButton
{
	width: 100%;
	height: 100%;
}
.leftTopButton > img
{
	height:100%;
	width:100%;
}
/* var(--mouse-x) and var(--mouse-y) from mousePositionToCss.js script*/
.noteOnHover {	
	font-family: "CeoFont";
	font-size: 32px;
	padding: 1px 3px;
	background-image: url("content/img/background_1colorfix.png");
	background-size: 100% 100%;
	position: fixed;
	z-index: 100;	
	left: calc(var(--mouse-x) * 100%);
	top: calc(var(--mouse-y) * 100%);
}

.leftTopButton:hover > .noteOnHover {
	display: block;
}
.leftTopButton:not(:hover) > .noteOnHover {
	display: none;
}
/* levels list */

.leftSubGrid {
	display: grid;
}

.leftSubGridEntry {
	width: var(--cells-size);
	height: var(--cells-size);
}

.leftSubGridEntry > img {	
	width: 100%;
	height: 100%;
}
#levelsList {
	grid-template-columns: repeat(var(--cells-levels-row), var(--cells-size));	
}

/* equipment list */

#equipmentList {
	grid-template-columns: repeat(var(--cells-equip-row), var(--cells-size));	
}

/* right area of page */
#rightContainer {
	min-height: calc(min(100vw, 100vh) - (var(--cells-size) / 2));
	min-width: calc(min(100vw, 100vh) - (var(--cells-size) / 2));
	max-height: calc(min(100vw, 100vh) - (var(--cells-size) / 2));
	max-width: calc(min(100vw, 100vh) - (var(--cells-size) / 2));
	display: flex;
	padding: calc(var(--cells-size) / 2);
	background-color: yellow;
	inline-size: 100%;
	align-self: stretch;
}

#rightGrid {	
	background-color: purple;
	display: grid;
	grid: repeat(3, calc(100% / 3)) / repeat(3, calc(100% / 3)); 
	grid-template-areas: 
	"a1 a1 a2"
	"a1 a1 a3"
	"a6 a5 a4";	
}
/* big text descritption */
#description {	
	text-shadow: 2px 2px #000f;
	font-size: 25px;
	overflow-y: scroll;	
	background-color: #507E1680;
	border: 2px solid red;
}

#description > div {
	padding: 0 8px;
}
#description > div:hover {	
	color: #00ff0a;	
}
/* small boxes */
.rightBox {
	line-height: var(--right-cells-size);
	text-align:center;
	block-size: 100%;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;	
}

.rightBox > img{
	width: 100%;
	height: 100%;	
}

.rightBox > span {	
	display: inline-block;
	vertical-align: middle;
	line-height: normal;	
}

